In [1]:
import pandas as pd
from sqlalchemy import create_engine
from keys import (username, password)

In [2]:
print(username)

postgres

### Extract CSVs into DataFrames

In [3]:
securities_file = "Resources/securities.csv"
securities_df = pd.read_csv(securities_file)
securities_df.head()

,Ticker symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877

In [4]:
securities_df.columns

Index(['Ticker symbol', 'Security', 'SEC filings', 'GICS Sector',
       'GICS Sub Industry', 'Address of Headquarters', 'Date first added',
       'CIK'],
      dtype='object')

In [5]:
securities_cols = ['Ticker symbol', 'Security', 'GICS Sector', 'GICS Sub Industry']
securities_transformed= securities_df[securities_cols].copy()

In [6]:
securities_transformed = securities_transformed.sort_values(by=['Ticker symbol'], ignore_index = True)

In [11]:
securities_transformed.columns = ['ticker', 'company_name', 'industry', 'sub_industry']

In [12]:
securities_transformed.head()

,ticker,company_name,industry,sub_industry
0,A,Agilent Technologies Inc,Health Care,Health Care Equipment
1,AAL,American Airlines Group,Industrials,Airlines
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail
3,AAPL,Apple Inc.,Information Technology,Computer Hardware
4,ABBV,AbbVie,Health Care,Pharmaceuticals

In [13]:
connection_string = f"{username}:{password}@localhost:5432/project-2_fundamentals"
engine = create_engine(f'postgresql://{connection_string}')

In [17]:
# Confirm tables
engine.table_names()

<ipython-input-17-2d97e9123e98>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['Fundamentals']

In [18]:
# Use pandas to load csv converted DataFrame into database
securities_transformed.to_sql(name='Fundamentals', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_Ticker"
DETAIL:  Key (ticker)=(A) already exists.

[SQL: INSERT INTO "Fundamentals" (ticker, company_name, industry, sub_industry) VALUES (%(ticker)s, %(company_name)s, %(industry)s, %(sub_industry)s)]
[parameters: ({'ticker': 'A', 'company_name': 'Agilent Technologies Inc', 'industry': 'Health Care', 'sub_industry': 'Health Care Equipment'}, {'ticker': 'AAL', 'company_name': 'American Airlines Group', 'industry': 'Industrials', 'sub_industry': 'Airlines'}, {'ticker': 'AAP', 'company_name': 'Advance Auto Parts', 'industry': 'Consumer Discretionary', 'sub_industry': 'Automotive Retail'}, {'ticker': 'AAPL', 'company_name': 'Apple Inc.', 'industry': 'Information Technology', 'sub_industry': 'Computer Hardware'}, {'ticker': 'ABBV', 'company_name': 'AbbVie', 'industry': 'Health Care', 'sub_industry': 'Pharmaceuticals'}, {'ticker': 'ABC', 'company_name': 'AmerisourceBergen Corp', 'industry': 'Health Care', 'sub_industry': 'Health Care Distributors'}, {'ticker': 'ABT', 'company_name': 'Abbott Laboratories', 'industry': 'Health Care', 'sub_industry': 'Health Care Equipment'}, {'ticker': 'ACN', 'company_name': 'Accenture plc', 'industry': 'Information Technology', 'sub_industry': 'IT Consulting & Other Services'}  ... displaying 10 of 505 total bound parameter sets ...  {'ticker': 'ZION', 'company_name': 'Zions Bancorp', 'industry': 'Financials', 'sub_industry': 'Regional Banks'}, {'ticker': 'ZTS', 'company_name': 'Zoetis', 'industry': 'Health Care', 'sub_industry': 'Pharmaceuticals'})]
(Background on this error at: http://sqlalche.me/e/14/gkpj)

In [19]:
#  Confirm data has been added by querying the customer_name table
pd.read_sql_query('select * from Fundamentals', con=engine).head()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "fundamentals" does not exist
LINE 1: select * from Fundamentals
                      ^

[SQL: select * from Fundamentals]
(Background on this error at: http://sqlalche.me/e/14/f405)