In [11]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [12]:
securities_file = "Resources/securities.csv"
securities_df = pd.read_csv(securities_file)
securities_df.head()

,Ticker symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877

In [13]:
securities_df.columns

Index(['Ticker symbol', 'Security', 'SEC filings', 'GICS Sector',
       'GICS Sub Industry', 'Address of Headquarters', 'Date first added',
       'CIK'],
      dtype='object')

In [23]:
securities_cols = ['Ticker symbol', 'Security', 'GICS Sector', 'GICS Sub Industry']
securities_transformed= securities_df[securities_cols].copy()

In [24]:
securities_transformed = securities_transformed.sort_values(by=['Ticker symbol'], ignore_index = True)

In [32]:
securities_transformed.head()

,ticker,company_name,industry,sub_industry
0,A,Agilent Technologies Inc,Health Care,Health Care Equipment
1,AAL,American Airlines Group,Industrials,Airlines
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail
3,AAPL,Apple Inc.,Information Technology,Computer Hardware
4,ABBV,AbbVie,Health Care,Pharmaceuticals

In [31]:
connection_string = "postgres:postgres@localhost:5432/fundamentals_db"
engine = create_engine(f'postgresql://{connection_string}')